<nav class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700 shadow-sm">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

    <%= link_to root_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-violet-600 dark:text-violet-400">Learnify</span>
    <% end %>

    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
         x-data="{ open: false }">

        <button type="button"
                class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 transition-all duration-200 hover:opacity-80"
                id="user-menu-button"
                @click="open = !open"
                aria-expanded="false">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full"
               src="<%= current_user.profile_picture.present? ? url_for(current_user.profile_picture) : 'https://www.svgrepo.com/show/122119/user-image-with-black-background.svg' %>"
               alt="User Profile">
        </button>

        <div x-show="open"
             x-transition:enter="transition ease-out duration-200"
             x-transition:enter-start="opacity-0 scale-95"
             x-transition:enter-end="opacity-100 scale-100"
             x-transition:leave="transition ease-in duration-200"
             x-transition:leave-start="opacity-100 scale-100"
             x-transition:leave-end="opacity-0 scale-95"
             @click.outside="open = false"
             style="display: none;"
             class="absolute top-16 right-0 z-50 w-48 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
          <div class="px-4 py-3">
            <span class="block text-sm text-gray-500 truncate dark:text-gray-400"><%= current_user.email %></span>
          </div>
          <ul class="py-2">
            <li>
              <%= link_to "Dashboard", root_path , class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
            </li>
            <li>
              <!--<= button_to "Settings", settings_path, method: :get, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white", form: { style: "display: none;" } >-->
            </li>
            <li>
              <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false } do |f| %>
                <%= f.submit 'logout', class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white w-full text-left' %>
              <% end %>
            </li>
          </ul>
        </div>
    </div>

    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <%= link_to "Home", root_path, class: "block py-2 px-3 text-gray-900 rounded md:bg-transparent md:text-violet-600 md:p-0 md:dark:text-violet-400 hover:text-violet-500 hover:underline transition-colors duration-200", aria_current: "page" %>
        </li>
        <li>
          <%= link_to "About", "https://github.com/gothLinus/learnify", target: "_blank", class: "block py-2 px-3 text-gray-900 rounded md:bg-transparent md:text-violet-600 md:p-0 md:dark:text-violet-400 hover:text-violet-500 hover:underline transition-colors duration-200" %>
        </li>
        <!--<li>
          <= link_to "Contact", "mailto:#{Rails.application.config_for(:contact)['email']}", class: "block py-2 px-3 text-gray-900 rounded md:bg-transparent md:text-violet-600 md:p-0 md:dark:text-violet-400 hover:text-violet-500 hover:underline transition-colors duration-200" %>
            <li>-->
        <li>
              <%= link_to "Create Card", new_card_path, class: "block py-2 px-3 text-gray-900 rounded md:bg-transparent md:text-violet-600 md:p-0 md:dark:text-violet-400 hover:text-violet-500 hover:underline transition-colors duration-200", form: { style: "display: none;" } %>
            </li>
      </ul>
    </div>
  </div>
</nav>
