<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= content_for(:title) || "Learning" %></title>

  <!-- Meta Tags -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- External Resources -->
  <link rel="icon" href="https://avatars.githubusercontent.com/u/187384192?s=400&u=7bffeecfc46ba9535f8b1f432d983ab77f173e0b&v=4"/>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css", integrity: "sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==", crossorigin: "anonymous", referrerpolicy: "no-referrer" %>

  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
      tailwind.config = {
          theme: {
              extend: {
                  colors: {
                      rails: '#ef3b2d',
                  },
              },
          },
      };
  </script>

  <!-- Local Assets -->
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <%= yield :head %>
</head>

<body class="bg-slate-800">
<!-- Authentication Check -->
<% if user_signed_in? %>
  <%= render "layouts/navbar" %>
<% end %>


<!-- Main Content -->
<main class="container mx-auto mt-28 px-5 flex">
  <%= yield %>
</main>

<!-- Flash Messages -->
  <!--render 'shared/flash_messages'-->
</body>
</html>
